#page1 .page__background {
    background-image: url(img/green.png);
  }
  #page2 .page__background {
    background-image: url(img/green.png);
  }
 .toolbar{ 
     background-color:Green; 
     padding-right: 15px;
 }
 .bar{
        color: azure;}
     