/* 
.sign-up-form {
    text-align: center;
    width: 80%;
    margin: 60px auto 0;
  }
  
  input[type=email], input[type=password],input[type=tel],input[type=Fname],input[type=con-password]{
    display: block;
    width: 100%;
    margin: 0 auto;
    outline: none;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 16px;
  }
  
  .login-button {
    width: 100%;
    margin: 0 auto;
  } */
